<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style='background: <%= "#{background_color}" %>'>
	<h3>Guess a Number!</h3>
	<form>
		<input type="text" name="guess">
		<input type="submit" name="Guess!">
	</form>
	<p>Previous guess: <%= params['guess'] %></p>
	<!-- <p>The secret number is <%= NUMBER %></p> -->
	<p> <%= "#{message}"%></p>
	<p>
	
	</p>
</body>
</html>
